<html>
    <head>
        <title>
            <%= title%>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>

    <body>
        <header>
            <%- include('_header'); -%>
        </header>

              <%- body %>
  
       <!-- <h1>Codeial/ User Profile</h1> -->

       <footer>
        <%- include('_footer'); -%>
      </footer>

      <%- script %>

    </body>

</html>